@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
    --color-dk-blue: #202733;
    --color-dk-gray-blue: #313A48;
    --color-grayish-blue: #4F5D74;
    --color-neon-green: #53FFAA;
    --color-light-cyan: #CEE3E9;
    --letter-sp-sm: -0.26px;
    --letter-sp-lg: 3.46px;
    --text-xs: .5rem;
    --text-sm: 11px;
    --text-lg: 1.5rem;
    --main-height: 315px;
}


* {
    box-sizing: border-box;
}

body, p, h1, main {
    margin: 0;
}

body {
    align-items: center;
    color: var(--color-light-cyan);
    background-color: var(--color-dk-blue);
    display: flex;
    font-family: 'Manrope', sans-serif;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    min-height: 100vh;
}

main {
    align-items: center;
    background-color: var(--color-dk-gray-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 900;
    height: var(--main-height);
    max-height: 332px;
    max-width: 540px;
    padding: 2.5rem 1.5rem;
    position: relative;
}

h1 {
    color: var(--color-neon-green);
    font-size: var(--text-sm);
    letter-spacing: var(--letter-sp-lg);
    text-transform: uppercase;
}

.attribution {
    align-items: center;
    display: flex;
    font-size: var(--text-xs);
    margin-top: 4rem;
    gap: .3rem;
}

.attribution a {
    color: var(--color-neon-green);
}

.die-btn {
    align-items: center;
    background: var(--color-neon-green);
    border: none;
    border-radius: 50%;
    bottom: -10%;
    cursor: pointer;
    display: grid;
    height: 64px;
    justify-content: center;
    margin-top: 1rem;
    max-width: 91.47%;
    padding: 1rem;
    position: absolute;
    transition: 300ms ease-in-out;
    width: 64px;
}

.die-btn:active {
    box-shadow: 0 0 40px 0 var(--color-neon-green);
}

.die-btn:disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.8;
}

.quote {
    letter-spacing: -0.26px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    transition: 500ms;
}

.changing {
    opacity: 0;
}

/* fix on iOS button stuck in hover state */
@media (hover:hover) {
    .die-btn:hover, .die-btn:active {
        box-shadow: 0 0 40px 0 var(--color-neon-green);
    }
}

@media screen and (min-width: 501px) {
    :root {
        --letter-sp-sm: -0.3px;
        --letter-sp-lg: 4.09px;
        --text-sm: 13px;
        --text-lg: 1.75rem;
        --pd-lg: 3rem;
    }
    main {
        padding: var(--pd-lg);
    }
}